services:
    zookeeper:
        image: confluentinc/cp-zookeeper:7.5.0
        container_name: zookeeper
        ports:
            - "2181:2181"
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

    kafka:
        image: confluentinc/cp-kafka:7.5.0
        container_name: kafka
        ports:
            # Port for your HOST machine (e.g., local debugging)
            - "9092:9092"
            # Port for OTHER CONTAINERS
            - "29092:29092"
        depends_on:
            - zookeeper
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT_INTERNAL:PLAINTEXT,PLAINTEXT_EXTERNAL:PLAINTEXT
            KAFKA_LISTENERS: PLAINTEXT_INTERNAL://0.0.0.0:29092,PLAINTEXT_EXTERNAL://0.0.0.0:9092
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT_INTERNAL://kafka:29092,PLAINTEXT_EXTERNAL://localhost:9092
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    zipkin:
        container_name: zipkin
        image: openzipkin/zipkin
        ports:
            -   "9411:9411"

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        ports:
            - "9090:9090"
        volumes:
            - ./monitoring/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
        command:
            - --config.file=/etc/prometheus/prometheus.yaml
        depends_on:
            - kafka
            - zipkin

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        ports:
            - "3000:3000"
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
        depends_on:
            - prometheus
        volumes:
            - grafana-data:/var/lib/grafana
            - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
            - ./monitoring/grafana/provisioning:/etc/grafana/provisioning

    redis:
        image: redis
        container_name: redis
        ports:
            - "6379:6379"
        volumes:
            - redis-data:/data

    postgres:
        container_name: postgres
        image: postgres:13
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            PGDATA: /data/postgres
        volumes:
            - postgres:/data/postgres
        ports:
            - "5432:5432"
        restart: unless-stopped

    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@platformone.com
            PGADMIN_DEFAULT_PASSWORD: admin
            PGADMIN_CONFIG_SERVER_MODE: "False"
        volumes:
            - pgadmin:/var/lib/pgadmin
        ports:
            - "5050:80"
        restart: unless-stopped

    eureka-server:
        image: hanessn/platformone/eureka-server:01
        container_name: eureka-server
        ports:
            - "8761:8761"

    config-server:
        image: hanessn/platformone/config-server:01
        container_name: config-server
        ports:
            - "8888:8888"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - eureka-server

    gateway:
        image: hanessn/platformone/gateway:01
        container_name: gateway
        ports:
            -   "8085:8085"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - eureka-server
            - redis
            - zipkin

    user:
        container_name: user
        image: hanessn/platformone/user:01
        ports:
            -   "8080:8080"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - postgres

    train:
        container_name: train
        image: hanessn/platformone/train:01
        ports:
            - "8081:8081"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - postgres

    schedule:
        container_name: schedule
        image: hanessn/platformone/schedule:01
        ports:
            - "8082:8082"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - postgres

    payment:
        container_name: payment
        image: hanessn/platformone/payment:01
        ports:
            - "8083:8083"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - postgres
            - kafka

    booking:
        container_name: booking
        image: hanessn/platformone/booking:01
        ports:
            - "8084:8084"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        depends_on:
            - postgres
            - kafka

volumes:
    grafana-data:
    redis-data:
    postgres:
    pgadmin: