apiVersion: v1
kind: Service
metadata:
    name: eureka-server
spec:
    selector:
        app: eureka-server
    ports:
        -   protocol: TCP
            port: 8761       # The port the Service will listen on
            targetPort: 8761   # The port the container is listening on
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: eureka-server
spec:
    replicas: 1
    selector:
        matchLabels:
            app: eureka-server
    template:
        metadata:
            labels:
                app: eureka-server
        spec:
            containers:
                -   name: eureka-server
                    image: hanessn/platformone-eureka-server:01
                    ports:
                        -   containerPort: 8761
                    envFrom:
                        -   configMapRef:
                                name: spring-common-configmap