apiVersion: v1
kind: Service
metadata:
    name: gateway
spec:
    type: LoadBalancer
    selector:
        app: gateway-service
    ports:
        - protocol: TCP
          port: 8085
          targetPort: 8085
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: gateway-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: gateway-service
    template:
        metadata:
            labels:
                app: gateway-service
        spec:
            containers:
                - name: gateway-service
                  image: hanessn/platformone-gateway:01
                  ports:
                      - containerPort: 8085
                  envFrom:
                      - configMapRef:
                            name: spring-common-configmap
                      - secretRef:
                            name: app-secrets

                  readinessProbe:
                      httpGet:
                          path: /actuator/health/readiness
                          port: 8085
                      initialDelaySeconds: 30
                      periodSeconds: 10
                  livenessProbe:
                      httpGet:
                          path: /actuator/health/liveness
                          port: 8085
                      initialDelaySeconds: 60
                      periodSeconds: 20