apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgres-pvc
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
    name: postgres
spec:
    selector:
        app: postgres
    ports:
        - protocol: TCP
          port: 5432
          targetPort: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
spec:
    replicas: 1
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
        spec:
            containers:
                - name: postgres
                  image: postgres:13
                  ports:
                      - containerPort: 5432
                  envFrom:
                      - configMapRef:
                            name: postgres-configmap
                      - secretRef:
                            name: postgres-secret
                  volumeMounts:
                      - mountPath: /data/postgres
                        name: postgres-storage
                      - mountPath: /docker-entrypoint-initdb.d
                        name: postgres-init-script
            volumes:
                - name: postgres-storage
                  persistentVolumeClaim:
                      claimName: postgres-pvc
                - name: postgres-init-script
                  configMap:
                      name: postgres-init-script-configmap
                      defaultMode: 0755