apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: redis-pvc
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
    name: redis
spec:
    selector:
        app: redis
    ports:
        - protocol: TCP
          port: 6379
          targetPort: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: redis
spec:
    replicas: 1
    selector:
        matchLabels:
            app: redis
    template:
        metadata:
            labels:
                app: redis
        spec:
            containers:
                - name: redis
                  image: redis
                  ports:
                      - containerPort: 6379
                  volumeMounts:
                      - mountPath: /data
                        name: redis-storage
            volumes:
                - name: redis-storage
                  persistentVolumeClaim:
                      claimName: redis-pvc