apiVersion: v1
kind: Service
metadata:
    name: booking # The name Feign clients (lb://booking) will use
spec:
    selector:
        app: booking-service
    ports:
        - protocol: TCP
          port: 8084
          targetPort: 8084
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: booking-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: booking-service
    template:
        metadata:
            labels:
                app: booking-service
        spec:
            containers:
                - name: booking-service
                  image: hanessn/platformone-booking:01
                  ports:
                      - containerPort: 8084
                  envFrom:
                      - configMapRef:
                            name: spring-common-configmap
                      - secretRef:
                            name: postgres-secret
                      - secretRef:
                            name: app-secrets
                  readinessProbe:
                      httpGet:
                          path: /actuator/health/readiness
                          port: 8084
                      initialDelaySeconds: 20
                      periodSeconds: 10
                  livenessProbe:
                      httpGet:
                          path: /actuator/health/liveness
                          port: 8084
                      initialDelaySeconds: 60
                      periodSeconds: 20