apiVersion: v1
kind: Service
metadata:
    name: payment # The name Feign clients (lb://payment) will use
spec:
    selector:
        app: payment-service
    ports:
        - protocol: TCP
          port: 8083
          targetPort: 8083
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: payment-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: payment-service
    template:
        metadata:
            labels:
                app: payment-service
        spec:
            containers:
                - name: payment-service
                  image: hanessn/platformone-payment:01
                  ports:
                      - containerPort: 8083
                  envFrom:
                      - configMapRef:
                            name: spring-common-configmap
                      - secretRef:
                            name: postgres-secret
                      - secretRef:
                            name: app-secrets
                  readinessProbe:
                      httpGet:
                          path: /actuator/health/readiness
                          port: 8083
                      initialDelaySeconds: 20
                      periodSeconds: 10
                  livenessProbe:
                      httpGet:
                          path: /actuator/health/liveness
                          port: 8083
                      initialDelaySeconds: 60
                      periodSeconds: 20