apiVersion: v1
kind: Service
metadata:
    name: schedule # The name Feign clients (lb://schedule) will use
spec:
    selector:
        app: schedule-service
    ports:
        - protocol: TCP
          port: 8082
          targetPort: 8082
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: schedule-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: schedule-service
    template:
        metadata:
            labels:
                app: schedule-service
        spec:
            containers:
                - name: schedule-service
                  image: hanessn/platformone-schedule:01
                  ports:
                      - containerPort: 8082
                  envFrom:
                      - configMapRef:
                            name: spring-common-configmap
                      - secretRef:
                            name: postgres-secret
                      - secretRef:
                            name: app-secrets
                  readinessProbe:
                      httpGet:
                          path: /actuator/health/readiness
                          port: 8082
                      initialDelaySeconds: 20
                      periodSeconds: 10
                  livenessProbe:
                      httpGet:
                          path: /actuator/health/liveness
                          port: 8082
                      initialDelaySeconds: 60
                      periodSeconds: 20