apiVersion: v1
kind: Service
metadata:
    name: train # The name Feign clients (lb://train) will use
spec:
    selector:
        app: train-service
    ports:
        - protocol: TCP
          port: 8081
          targetPort: 8081
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: train-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: train-service
    template:
        metadata:
            labels:
                app: train-service
        spec:
            containers:
                - name: train-service
                  image: hanessn/platformone-train:01
                  ports:
                      - containerPort: 8081
                  envFrom:
                      - configMapRef:
                            name: spring-common-configmap
                      - secretRef:
                            name: postgres-secret
                      - secretRef:
                            name: app-secrets
                  readinessProbe:
                      httpGet:
                          path: /actuator/health/readiness
                          port: 8081
                      initialDelaySeconds: 20
                      periodSeconds: 10
                  livenessProbe:
                      httpGet:
                          path: /actuator/health/liveness
                          port: 8081
                      initialDelaySeconds: 60
                      periodSeconds: 20