apiVersion: v1
kind: Service
metadata:
    name: user # The name Feign clients (lb://user) will use
spec:
    selector:
        app: user-service
    ports:
        -   protocol: TCP
            port: 8080       # Port the service is exposed on
            targetPort: 8080   # Port the container listens on
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: user-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: user-service
    template:
        metadata:
            labels:
                app: user-service
        spec:
            containers:
                -   name: user-service
                    image: hanessn/platformone-user:01
                    ports:
                        -   containerPort: 8080
                    envFrom:
                        -   configMapRef:
                                name: spring-common-configmap
                        -   secretRef:
                                name: postgres-secret
                        -   secretRef:
                                name: app-secrets
                    readinessProbe:
                        httpGet:
                            path: /actuator/health/readiness
                            port: 8080
                        initialDelaySeconds: 20
                        periodSeconds: 10
                    livenessProbe:
                        httpGet:
                            path: /actuator/health/liveness
                            port: 8080
                        initialDelaySeconds: 60
                        periodSeconds: 20